[Desktop Entry]
Encoding=UTF-8
Name=Intellij IDEA
Comment=Start Docker with IntelliJ IDEA
Exec=/home/landsman/projects/javabox/start.sh
Icon=/home/landsman/projects/javabox/icon/intellij.png
Type=Application
Terminal=true